.background-container {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url('./img/background.svg');
    background-size: cover;
    background-position: center;
    font-family: 'Source Sans Pro';
  }

.box-prato {
  display: flex;
  justify-content:right;
  align-items: end;
  width: 100%;
  height: 100%;
}

.prato {
  margin-right: 300px;
}
  
.overlay-content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}

.overlay-content h1 {

  width: 100%;


  font-weight: 900;
  font-size: 88px;
  line-height: 100%;
  margin: 0;
    

    
  color: #FFFFFF;

    
  text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);

  flex: none;
  order: 0;
  flex-grow: 0;

}
  

.overlay-content p {
  color: #504F4F;
  padding: 24px 0;
  font-size: 22px;
}

.box-content {
  background-color: #fff;
  border-radius: 16px;
  height: 194.44px;
  width: 856px;
  padding: 0 14px;

  box-shadow: 0px 0px 15px 1px #0000002c;
}

.first-content {
  width: 100%;
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.137);
}

.entrega {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  width: 143px;
  height: 38px;
  padding: 2px;
  font-weight: 800;
  color: #F17228;

  background-color: #f1722821;

  border-radius: 8px;
  margin-right: 10px;

  cursor: pointer;
  transition: .1s;
}

.entrega:hover {
  box-shadow: 0px 0px 10px 1px #00000041;
  background-color: #f17228b6;
  color: #fff;
  transition: .1s;
}

.retirada {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  width: 143px;
  height: 38px;
  padding: 2px;
  font-weight: 800;
  color: #1d1c1c69;

  border-radius: 8px;

  cursor: pointer;
}

.entrega img, .retirada img {
  margin-right: 10px;
}

.second-content {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 25px 0;
}

.second-content div {
  display: flex;
  align-items: center;
  width: 540px;
  height: 49px;
  padding: 2px 20px;
  margin-left: 20px;
  background-color: #F5F5F5;
  border-radius: 8px;
}

.second-content div img {
  margin-right: 10px;
}

.second-content div input {
  width: 100%;
  height: 100%;
  outline: 0;
  background-color: transparent;
  color: #000;
  border: 0;
  font-size: 18px;
  transition: .1s;
}

.second-content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 48px;
  gap: 10px;
  margin-left: 16px;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;

  width: 198px;
  height: 60px;

  background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;

  cursor: pointer;

}